/*      Checkbox and radio         */
.checkbox label {
  color: #343a40 !important; }

.checkbox.disabled label {
  color: #9A9A9A;
  opacity: .5;
  cursor: not-allowed; }

.checkbox label,
.radio label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding-left: 24px;
  margin-bottom: 0;
  line-height: 20px;
  padding-top: 0 !important;
  color: #343a40 !important; }

.checkbox label::before,
.checkbox label::after {
  font-family: 'FontAwesome';
  content: "\F096";
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  cursor: pointer;
  line-height: 20px;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  top: 0px;
  color: #DDDDDD;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
  padding: 1px; }

.checkbox label::after {
  content: "";
  text-align: center;
  opacity: 1;
  left: 0;
  color: #DDDDDD; }

.checkbox input[type="checkbox"],
.radio input[type="radio"] {
  opacity: 0;
  margin-left: 0;
  display: none; }

.checkbox input[type="checkbox"]:checked + label::after {
  font-family: 'FontAwesome';
  content: "\F046"; }

.checkbox input[type="checkbox"]:checked + label::after {
  color: #23CCEF; }

.checkbox input[type="checkbox"]:checked + label::before {
  opacity: 0; }

.checkbox input[type="checkbox"]:disabled + label,
.radio input[type="radio"]:disabled + label,
.checkbox input[type="checkbox"]:disabled:checked + label::after {
  color: #DDDDDD; }

.checkbox input[type="checkbox"]:disabled + label::before,
.checkbox input[type="checkbox"]:disabled + label::after {
  cursor: not-allowed; }

.checkbox input[type="checkbox"]:disabled + label,
.radio input[type="radio"]:disabled + label {
  cursor: not-allowed; }

.checkbox.checkbox-circle label::before {
  border-radius: 50%; }

.checkbox.checkbox-inline {
  padding-left: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #3472F7;
  border-color: #3472F7; }

.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #3472F7; }

.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #FF4A55;
  border-color: #FF4A55; }

.checkbox-danger input[type="checkbox"]:checked + label::after {
  color: #FF4A55; }

.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #1DC7EA;
  border-color: #1DC7EA; }

.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #1DC7EA; }

.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #FF9500;
  border-color: #FF9500; }

.checkbox-warning input[type="checkbox"]:checked + label::after {
  color: #FF9500; }

.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #87CB16;
  border-color: #87CB16; }

.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #87CB16; }

.radio label::before,
.radio label::after {
  font-family: 'FontAwesome';
  content: "\F10C";
  font-size: 20px;
  height: 20px;
  width: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  position: absolute;
  line-height: 20px;
  left: 0;
  top: 0;
  color: #DDDDDD;
  padding: 1px;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear; }

.radio input[type="radio"]:checked + label::after {
  font-family: 'FontAwesome';
  content: "\F192";
  color: #DDDDDD; }

.radio input[type="radio"]:checked:not(:disabled):hover + label::after,
.radio input[type="radio"]:checked + label::after {
  color: #23CCEF; }

.radio.radio-primary input[type="radio"]:checked:not(:disabled):hover + label::after,
.radio.radio-primary input[type="radio"]:checked + label::after {
  color: #3472F7; }

.radio.radio-danger input[type="radio"]:checked:not(:disabled):hover + label::after,
.radio.radio-danger input[type="radio"]:checked + label::after {
  color: #FF4A55; }

.radio.radio-info input[type="radio"]:checked:not(:disabled):hover + label::after,
.radio.radio-info input[type="radio"]:checked + label::after {
  color: #1DC7EA; }

.radio.radio-warning input[type="radio"]:checked:not(:disabled):hover + label::after,
.radio.radio-warning input[type="radio"]:checked + label::after {
  color: #FF9500; }

.radio.radio-success input[type="radio"]:checked:not(:disabled):hover + label::after,
.radio.radio-success input[type="radio"]:checked + label::after {
  color: #87CB16; }

.radio input[type="radio"]:disabled + label {
  color: #ddd; }

.radio input[type="radio"]:disabled + label::before,
.radio input[type="radio"]:disabled + label::after {
  color: #ddd; }

.radio.radio-inline {
  margin-top: 0; }
